Repository mahmoudfouadweb/internal-linking-analyzer-pro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @frontend-team, @backend-team, @core-team, @devops-team, @docs-team

.github/CODEOWNERS:

# هذا الملف يحدد المالكين التلقائيين لأجزاء مختلفة من الكود
# عند إنشاء طلب سحب، سيتم تعيين المراجعين تلقائيًا بناءً على هذا الملف
# تعرف على المزيد: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# المالكون الافتراضيون لكل شيء في المستودع
* @yourusername

# مالكو الواجهة الأمامية
/apps/frontend/ @frontend-team

# مالكو الواجهة الخلفية
/apps/backend/ @backend-team

# مالكو الحزم المشتركة
/packages/ @core-team

# مالكو الأدوات
/tools/ @devops-team

# مالكو التوثيق
/docs/ @docs-team
*.md @docs-team

# مالكو ملفات الإعدادات
*.json @core-team
*.yaml @core-team
*.yml @core-team
.github/ @devops-team

إصلاح أخطاء TypeScript في وحدة تحليل Sitemap: تصحيح أخطاء الأنواع وتوافق الواجهات وطرق الاستدعاء
  .husky/pre-commit
  .husky/pre-push
  apps/backend/src/sitemap-parser/application/commands/parse-sitemap.handler.ts
  apps/backend/src/sitemap-parser/sitemap-parser.controller.ts
  apps/backend/src/sitemap-parser/sitemap-parser.service.ts
  package.json
  packages/types/src/sitemap.d.ts
  packages/types/src/sitemap.ts
  pnpm-lock.yaml
Owners: @yourusername, @backend-team, @core-team

تحديث ملفات المشروع وإضافة خدمات جديدة
  .husky/pre-commit
  .husky/pre-push
  .vscode/settings.json
  apps/backend/src/services/sitemap-parser.service.ts
  apps/backend/src/sitemap-parser/dto/sitemap-parser.service.ts
  apps/backend/src/sitemap-parser/sitemap-parser.service.spec.ts
  file_full_path
  project_structure.txt
Owners: @yourusername, @core-team, @backend-team

تحسين: إضافة دعم لتحليل روابط sitemap المباشرة
  apps/backend/src/sitemap-parser/application/commands/parse-sitemap.handler.ts
Owners: @backend-team

after victory testing
  .husky/pre-commit
  eslint.config.js
Owners: @yourusername

all project perfect at this moment
  GIT_DEPLOYMENT_SUCCESS_REPORT.md
  apps/backend/src/main.ts
  apps/backend/src/sitemap-parser/dto/parse-sitemap.dto.ts
  apps/backend/src/sitemap-parser/sitemap-parser.controller.ts
  apps/backend/src/sitemap-parser/sitemap-parser.service.spec.ts
  apps/backend/src/sitemap-parser/sitemap-parser.service.ts
  apps/frontend/src/app/api/sitemap-parser/route.ts
  apps/frontend/src/app/tools/keyword-extractor/page.tsx
  packages/types/src/sitemap.ts
  project_structure.txt
  test-frontend.js
Owners: @docs-team, @backend-team, @frontend-team, @core-team, @yourusername

update project structure
  internal-linking-analyzer-pro.code-workspace
  project_structure.txt
Owners: @yourusername
